.mainCnt {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.headingCnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingCntheading {
    color: #ffd700;
    text-transform: uppercase;
}

.lengthCnt {
    text-align: end;
}

.watchCardCntr {
    width: 70%;
    margin: auto;
}

.breadCrumbCnt {
    display: flex;
    justify-content: start;
    width: 70%;
    margin: auto;
}

.lengthCntCntr {
    display: flex;
    justify-content: end;
    width: 70%;
    margin: auto;
}