.yellow-button {
  background-color: #ffd700;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block; /* so padding works as expected */
  border-radius: 1px;
  transition: background-color 0.3s ease;
}

.yellow-button:hover {
  background-color: #e6c200;
}

.button-container {
    margin-top: 24px;
}